<section class="section_account">
    <h1>Crear nueva cuenta</h1>

    <form action="/api/session/register" method="POST" class="form-group">
        <input type="text" name="first_name" placeholder="Nombre">
        <input type="text" name="last_name" placeholder="Apellido">
        <input type="date" name="date" placeholder="Fecha">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Contraseña">
        <select name="role" placeholder="Seleccione una opcion">
            <option value="" selected>Seleccione una</option>
            <option value="user">user</option>
            <option value="admin">admin</option>
        </select>
        <button class="btn btn-primary" type="submit">Registrarse</button>
    </form>
</section>