<section class="section_account">
    <h1>Restablecer contraseña</h1>

    <form action="/reset-password" method="POST" class="form-group">
        <input type="email" name="email" placeholder="Email">
        <button class="btn btn-primary" type="submit">Enviar enlace para restablecer conntraseña</button>
    </form>

</section>